asgiref==3.12.1
click==8.5.0
cssbeautifier==2.0.3
Django==6.1.1
djlint==1.46.2
EditorConfig==0.17.1
jsbeautifier==2.0.3
json5==0.15.0
pathspec==1.1.1
PyYAML==6.0.3
regex==2026.9.10
sqlparse==0.6.0
tzdata==2026.4
